html,
body {
  min-height: 100%
  position: relative;
  background-color: #cccccc;

}


body {
  position: relative;
}

border {
    background-color: #cccccc;
}
* {
  outline: none;
  background-color: #cccccc;
}

.main {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
}

@media (min-width: 768px) {
  .main  {
    min-height: 100vh;
  }
}


.lad-heading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: none;
  font-size: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  font-weight: 400;
}

@media (min-width: 768px) {
  .lad-heading  {
    font-size: 2.5rem;
  }
}


.lad-subheading {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  padding-bottom: 2rem;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .lad-subheading  {
    font-size: 2rem;
  }
}

.lad-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
}

@media (min-width: 768px) {
  .lad-contact  {
    font-size: 2rem;
  }
}


a {
  color: black;
  font-size: 14px;
}
